<h1><%= @user.name %>'s Profile</h1>
<h3>Invitations:</h3>
<ul>
  <% @user.invites.each do |invite| %>
    <li> <%= link_to Event.where(id: invite.event_id).first.name, event_path(invite.event_id)%> </li>
  <% end %>
</ul>
