<h1 class="title"><%= @user.name %>'s Profile</h1>
<br>
<h3>Invitations:</h3>
<ul class = "list-nav">
  <%= user_invites_action %>
</ul>
<br>
<h3>Past Events:</h3>
<%= user_past_events_action %>
<br>
<h3>Upcoming Events:</h3>
<%= user_upcoming_events_action %>

