<h1 class="title">All Events!</h1>
<h3>Past Events:</h3>
<% if @events.past_date.size > 0 %>
<ul class="list-nav">
  <% @events.past_date.each do |event| %>
    <li> <%= link_to event.name, event_path(event.id)%> </li>
  <% end %>
</ul>
<% else %>
    <h4>No past events found!</h4>
<% end %>

<h3>Upcoming Events:</h3>
<% if @events.upcoming_date.size > 0 %>
<ul class="list-nav">
  <% @events.upcoming_date.each do |event| %>
    <li> <%= link_to event.name, event_path(event.id)%> </li>
  <% end %>
</ul>
<% else %>
    <h4>No upcoming! events found!</h4>
<% end %>

