<h1 class="title"><%= @event.name %></h1>
<p><strong>Created by: <%= @event_creator.name %></strong></p>
<p> <%= @event.body%> </p>
<h3>Attendees:</h3>
<ul>
  <% @event.attendees.each do |i| %>
    <li> <%= link_to i.name , user_path(i.id)%> </li>
  <% end %>
</ul>